# 2: Removing Outliers and Transforming data

## 2.1 Using Mahalanobis distance to identify outliers
As we are working with Multivariate data, it isn't the best practice for us to simply remove outliers based on a single variable. Thus, we utilise Mahalanobis distance to identify outliers based on multiple variables.

### 2.1.1: Loading and preparing dataset for mahalanobis distance calculation

In [1]:
import numpy as np
import pandas as pd
from scipy.spatial.distance import mahalanobis
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import re
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler, MinMaxScaler


# Read the CSV file
raw_df = pd.read_csv('data/ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv')

# Load Dataset and perform simple transformations to numerical for mahalanobis distance
def convert_lease_to_months(lease_str):
    years, months = 0, 0  # Default values

    # Extract years
    year_match = re.search(r'(\d+)\s*years?', lease_str)
    if year_match:
        years = int(year_match.group(1))

    # Extract months
    month_match = re.search(r'(\d+)\s*months?', lease_str)
    if month_match:
        months = int(month_match.group(1))

    return years * 12 + months  # Convert to total months

# Apply function to column
raw_df["remaining_lease_months"] = raw_df["remaining_lease"].apply(convert_lease_to_months)

df = raw_df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201581 entries, 0 to 201878
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   month                   201581 non-null  object
 1   town                    201581 non-null  object
 2   flat_type               201581 non-null  object
 3   block                   201581 non-null  object
 4   street_name             201581 non-null  object
 5   storey_range            201581 non-null  object
 6   floor_area_sqm          201581 non-null  float64
 7   flat_model              201581 non-null  object
 8   lease_commence_date     201581 non-null  int64
 9   remaining_lease         201581 non-null  object
 10  resale_price            201581 non-null  float64
 11  remaining_lease_months  201581 non-null  int64
dtypes: float64(2), int64(2), object(8)
memory usage: 20.0+ MB

In [2]:
df_numeric = df[['floor_area_sqm', 'remaining_lease_months', 'resale_price']].copy() 


# Compute the mean and covariance matrix
mean_vec = np.mean(df_numeric, axis=0)
cov_matrix = np.cov(df_numeric, rowvar=False)

# Compute the inverse of the covariance matrix
inv_cov_matrix = np.linalg.inv(cov_matrix)

# Compute Mahalanobis distance for each data point
df_numeric['mahalanobis_dist'] = df_numeric.apply(lambda x: mahalanobis(x, mean_vec, inv_cov_matrix), axis=1)


# View top outliers
df_numeric.sort_values(by='mahalanobis_dist', ascending=False).head(70)

        floor_area_sqm  remaining_lease_months  resale_price  mahalanobis_dist
184423           366.7                     564     1568000.0         11.685378
201510            94.0                    1022     1518000.0          7.154778
198956           117.0                    1038     1600000.0          7.072956
181248           112.0                    1088     1588000.0          7.061830
199810           106.0                    1020     1550000.0          7.031714
...                ...                     ...           ...               ...
174275           112.0                    1091     1450000.0          6.081288
187636            95.0                    1089     1380000.0          6.071347
181331            94.0                    1028     1365000.0          6.051205
165470           113.0                    1135     1450000.0          6.026895
163278           113.0                    1137     1450000.0          6.025891

[70 rows x 4 columns]

Based on the Mahalanobis Distance, we can see that there is a single outlier with a significantly different when compared to the other datapoints. Thus, we will remove this single outlier before we proceed.

In [3]:
# Find the index of the top outlier
top_outlier_idx = df_numeric['mahalanobis_dist'].idxmax()

# Remove the outlier from the dataset
df_cleaned = df.drop(index=top_outlier_idx)

# Verify the removal
print(f"Removed row at index: {top_outlier_idx}")
print(df_cleaned.shape)  # Check the new shape

# Load your dataset 
df_numeric_cleaned = df_cleaned[['floor_area_sqm', 'remaining_lease_months', 'resale_price']].copy() 

# Compute the mean and covariance matrix
mean_vec = np.mean(df_numeric_cleaned, axis=0)
cov_matrix = np.cov(df_numeric_cleaned, rowvar=False)

# Compute the inverse of the covariance matrix
inv_cov_matrix = np.linalg.inv(cov_matrix)

# Compute Mahalanobis distance for each data point
df_numeric_cleaned['mahalanobis_dist'] = df_numeric_cleaned.apply(lambda x: mahalanobis(x, mean_vec, inv_cov_matrix), axis=1)
# View top outliers
df_numeric_cleaned.sort_values(by='mahalanobis_dist', ascending=False).head(70)

Removed row at index: 184423
(201580, 12)

        floor_area_sqm  remaining_lease_months  resale_price  mahalanobis_dist
201510            94.0                    1022     1518000.0          7.154761
198956           117.0                    1038     1600000.0          7.072967
181248           112.0                    1088     1588000.0          7.061823
199810           106.0                    1020     1550000.0          7.031702
189021           113.0                    1050     1580000.0          7.018959
...                ...                     ...           ...               ...
187636            95.0                    1089     1380000.0          6.071334
181331            94.0                    1028     1365000.0          6.051192
165470           113.0                    1135     1450000.0          6.026890
163278           113.0                    1137     1450000.0          6.025885
193884           117.0                    1023     1450000.0          6.023766

[70 rows x 4 columns]

## 2.2: Retaining only relevant columns

In [4]:
# relevant features

df_cleaned = df_cleaned[["month", 'town', 'storey_range', 'floor_area_sqm', 'flat_type','flat_model','remaining_lease','resale_price']]
df_cleaned.head()

,month,town,storey_range,floor_area_sqm,flat_type,flat_model,remaining_lease,resale_price
0,2017-01,ANG MO KIO,10 TO 12,44.0,2 ROOM,Improved,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,01 TO 03,67.0,3 ROOM,New Generation,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,01 TO 03,67.0,3 ROOM,New Generation,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,04 TO 06,68.0,3 ROOM,New Generation,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,01 TO 03,67.0,3 ROOM,New Generation,62 years 05 months,265000.0

## 2.3: Data cleaning for macrodata

### 2.3.1: Loading and preparing dataset for mahalanobis distance calculation

In [5]:
# Load the CSV File
df_macro = pd.read_csv('data/macro_data.csv')  # Read the CSV file into a DataFrame
df_macro.head()  # Display the first few rows of the DataFrame

,0,"Total Unemployment Rate, (SA)","Resident Unemployment Rate, (SA)","Citizen Unemployment Rate, (SA)",Household Net Worth,Assets,Financial Assets,Currency & Deposits,Shares & Securities,Listed Shares,...,Administrative & Support Services,Other Services Industries,Public Administration & Defence,Education,Health & Social Services,"Arts, Entertainment & Recreation",Other Services - Others,Ownership Of Dwellings,Gross Value Added At Basic Prices,Add: Taxes On Products
0,20244Q,1.9,2.8,2.9,3052040.2,3431440.9,1925062.2,658160.6,351132.6,150016.0,...,4034.1,13709.9,3130.8,3688.5,3766.2,1430.0,1679.6,5972.2,138399.2,7736.9
1,20243Q,1.9,2.6,2.7,2976551.1,3350578.6,1881260.9,633074.6,349577.9,152810.5,...,4250.7,13528.5,3111.0,3752.0,3782.5,1231.8,1635.7,5923.6,134988.6,7138.3
2,20242Q,2.0,2.7,2.8,2919647.9,3288024.2,1832632.8,629367.5,325669.0,145785.6,...,4158.1,13273.4,3094.5,3562.3,3718.9,1226.0,1652.2,5908.8,130579.4,6809.8
3,20241Q,2.1,2.9,3.1,2872703.3,3237721.6,1810903.7,623478.0,315652.4,137094.5,...,3940.9,13787.8,3296.6,3708.5,3524.7,1580.8,1650.7,5770.4,128816.3,6588.0
4,20234Q,2.0,2.7,2.9,2814508.3,3178795.1,1785432.6,611413.5,317090.2,134122.7,...,4057.0,13294.8,3096.3,3632.9,3546.8,1370.7,1630.8,5736.4,131754.9,7411.3

#### Segregate Data Quarterly: 
Group the data by quarters using pandas and verify the segregation.
Convert the data to appropriate format

In [6]:
# Convert '20241Q' format to datetime
def convert_quarter_to_date(quarter_str):
    year = int(quarter_str[:4])  # Extract the year
    quarter = int(quarter_str[4])  # Extract the quarter number
    month = (quarter - 1) * 3 + 1  # Calculate the starting month of the quarter
    return pd.Timestamp(year=year, month=month, day=1)

# Apply the conversion function to the 'Date' column
df_macro['0'] = df_macro['0'].apply(convert_quarter_to_date)

# Rename the column header 0 to 'Date'
df_macro.rename(columns={'0': 'Date'}, inplace=True)

# Display the cleaned DataFrame
print(df_macro)

         Date  Total Unemployment Rate, (SA)  \
0  2024-10-01                            1.9
1  2024-07-01                            1.9
2  2024-04-01                            2.0
3  2024-01-01                            2.1
4  2023-10-01                            2.0
5  2023-07-01                            2.0
6  2023-04-01                            1.9
7  2023-01-01                            1.8
8  2022-10-01                            2.0
9  2022-07-01                            2.1
10 2022-04-01                            2.1
11 2022-01-01                            2.3
12 2021-10-01                            2.4
13 2021-07-01                            2.6
14 2021-04-01                            2.7
15 2021-01-01                            2.9
16 2020-10-01                            3.2
17 2020-07-01                            3.4
18 2020-04-01                            3.0
19 2020-01-01                            2.5
20 2019-10-01                            2.2
21 2019-07-01                            2.2
22 2019-04-01                            2.3
23 2019-01-01                            2.2
24 2018-10-01                            2.2
25 2018-07-01                            2.1
26 2018-04-01                            2.1
27 2018-01-01                            2.1
28 2017-10-01                            2.1
29 2017-07-01                            2.1
30 2017-04-01                            2.2
31 2017-01-01                            2.3

    Resident Unemployment Rate, (SA)  Citizen Unemployment Rate, (SA)  \
0                                2.8                              2.9
1                                2.6                              2.7
2                                2.7                              2.8
3                                2.9                              3.1
4                                2.7                              2.9
5                                2.9                              3.0
6                                2.7                              2.9
7                                2.6                              2.7
8                                2.7                              2.9
9                                2.9                              3.0
10                               2.8                              3.0
11                               3.0                              3.2
12                               3.1                              3.3
13                               3.4                              3.6
14                               3.6                              3.8
15                               4.0                              4.2
16                               4.3                              4.4
17                               4.6                              4.7
18                               4.1                              4.2
19                               3.4                              3.6
20                               3.2                              3.2
21                               3.1                              3.2
22                               3.2                              3.3
23                               3.1                              3.3
24                               3.0                              3.1
25                               2.8                              3.0
26                               2.9                              3.0
27                               2.9                              3.0
28                               2.9                              3.0
29                               3.1                              3.2
30                               3.1                              3.3
31                               3.3                              3.5

    Household Net Worth      Assets          Financial Assets  \
0             3052040.2   3431440.9                 1925062.2
1             2976551.1   3350578.6                 1881260.9
2             2919647.9   3288024.2                 1832632.8
3             2872703.3   3237721.6                 1810903.7
4             2814508.3   3178795.1                 1785432.6
5             2728779.0   3090032.2                 1738383.5
6             2700112.9   3059937.5                 1722043.4
7             2656059.7   3014560.0                 1692158.1
8             2578617.6   2939020.1                 1661258.2
9             2532728.2   2896129.7                 1635380.0
10            2487094.1   2848876.0                 1624198.9
11            2454819.4   2813474.3                 1629850.0
12            2411487.9   2769010.2                 1604689.8
13            2348497.1   2700535.6                 1583322.5
14            2308910.2   2652921.4                 1559956.4
15            2251063.1   2588875.0                 1516944.5
16            2176938.1   2509941.9                 1483708.1
17            2104813.9   2434122.4                 1433481.2
18            2059331.3   2386825.4                 1405335.7
19            1987492.1   2320300.3                 1341716.9
20            1998097.3   2337418.2                 1355997.9
21            1945769.1   2284216.3                 1312298.6
22            1913684.3   2253573.0                 1296945.9
23            1870684.1   2213274.8                 1264247.0
24            1825181.2   2169731.7                 1222766.2
25            1823899.1   2168119.5                 1219584.3
26            1810882.9   2154544.8                 1212424.2
27            1775409.9   2118140.1                 1200736.5
28            1734730.7   2075155.0                 1180615.0
29            1705223.2   2039745.1                 1152762.6
30            1682447.3   2012412.8                 1136981.6
31            1658881.3   1985339.9                 1115664.4

                Currency & Deposits              Shares & Securities  \
0                          658160.6                         351132.6
1                          633074.6                         349577.9
2                          629367.5                         325669.0
3                          623478.0                         315652.4
4                          611413.5                         317090.2
5                          607162.2                         297024.2
6                          606246.1                         281825.5
7                          589556.9                         280796.7
8                          571190.3                         280064.6
9                          569251.0                         265943.8
10                         566634.7                         262912.2
11                         562648.0                         272949.4
12                         543427.2                         271977.8
13                         535065.8                         269480.7
14                         528895.6                         265522.0
15                         524713.7                         250921.0
16                         517148.8                         237750.0
17                         508124.2                         219142.6
18                         506564.5                         208221.3
19                         493950.9                         184301.9
20                         475911.7                         220509.4
21                         466414.1                         204066.0
22                         461905.5                         208221.7
23                         455015.2                         197449.6
24                         440065.0                         189931.9
25                         433988.1                         199496.8
26                         433096.3                         205547.4
27                         427806.6                         210837.2
28                         419107.5                         208123.3
29                         413473.9                         200770.9
30                         411532.2                         198161.5
31                         407974.7                         193691.9

                    Listed Shares  ...  \
0                        150016.0  ...
1                        152810.5  ...
2                        145785.6  ...
3                        137094.5  ...
4                        134122.7  ...
5                        123828.0  ...
6                        118074.8  ...
7                        118418.4  ...
8                        113815.6  ...
9                        101263.1  ...
10                        99108.9  ...
11                       104050.6  ...
12                        99672.9  ...
13                        97078.1  ...
14                        98413.3  ...
15                        96306.3  ...
16                        90237.7  ...
17                        81567.8  ...
18                        82003.2  ...
19                        73530.5  ...
20                        90485.5  ...
21                        87630.8  ...
22                        90674.7  ...
23                        89190.7  ...
24                        85561.7  ...
25                        89962.5  ...
26                        89991.2  ...
27                        95659.3  ...
28                        95053.8  ...
29                        90556.5  ...
30                        90317.8  ...
31                        90378.8  ...

                Administrative & Support Services  \
0                                          4034.1
1                                          4250.7
2                                          4158.1
3                                          3940.9
4                                          4057.0
5                                          4202.8
6                                          4098.5
7                                          3943.7
8                                          4112.5
9                                          4223.7
10                                         4130.1
11                                         3874.6
12                                         3768.8
13                                         3964.3
14                                         3802.7
15                                         3689.3
16                                         3991.7
17                                         4164.5
18                                         4063.7
19                                         4891.4
20                                         5081.9
21                                         5283.1
22                                         5114.2
23                                         4748.6
24                                         5782.6
25                                         6471.7
26                                         6537.8
27                                         6153.7
28                                         6162.0
29                                         6316.3
30                                         6198.9
31                                         5748.5

            Other Services Industries  \
0                             13709.9
1                             13528.5
2                             13273.4
3                             13787.8
4                             13294.8
5                             13257.5
6                             12913.9
7                             13226.8
8                             12790.8
9                             12748.2
10                            12373.8
11                            12473.8
12                            12150.9
13                            11859.5
14                            11781.0
15                            12255.5
16                            11885.4
17                            11434.1
18                            10135.2
19                            12303.9
20                            12587.4
21                            12519.9
22                            12370.6
23                            12589.1
24                            12153.8
25                            12168.7
26                            12062.5
27                            12357.9
28                            11973.1
29                            11934.0
30                            11933.4
31                            11993.5

                Public Administration & Defence              Education  \
0                                        3130.8                 3688.5
1                                        3111.0                 3752.0
2                                        3094.5                 3562.3
3                                        3296.6                 3708.5
4                                        3096.3                 3632.9
5                                        3087.9                 3655.3
6                                        3092.0                 3491.0
7                                        3284.2                 3655.4
8                                        3088.9                 3572.8
9                                        3099.6                 3562.3
10                                       3067.0                 3430.4
11                                       3244.3                 3529.3
12                                       3065.7                 3486.6
13                                       3010.9                 3484.7
14                                       3065.7                 3379.6
15                                       3226.2                 3458.8
16                                       3044.8                 3404.7
17                                       2921.2                 3313.0
18                                       2918.6                 3181.8
19                                       3101.7                 3403.5
20                                       2904.7                 3440.8
21                                       2794.1                 3480.3
22                                       2842.3                 3437.6
23                                       2971.2                 3433.5
24                                       2808.8                 3415.1
25                                       2710.4                 3480.1
26                                       2823.6                 3464.0
27                                       2860.5                 3454.6
28                                       2759.6                 3359.7
29                                       2683.5                 3419.0
30                                       2781.1                 3367.3
31                                       2821.2                 3432.0

                Health & Social Services  \
0                                 3766.2
1                                 3782.5
2                                 3718.9
3                                 3524.7
4                                 3546.8
5                                 3579.0
6                                 3560.0
7                                 3405.2
8                                 3437.0
9                                 3446.2
10                                3416.2
11                                3283.8
12                                3277.2
13                                3297.7
14                                3219.4
15                                3202.2
16                                3158.3
17                                3059.6
18                                2712.9
19                                2929.7
20                                3096.1
21                                3128.9
22                                3037.3
23                                3015.8
24                                2991.0
25                                3000.9
26                                2942.1
27                                2904.6
28                                2872.6
29                                2933.2
30                                2860.3
31                                2876.7

                Arts, Entertainment & Recreation  \
0                                         1430.0
1                                         1231.8
2                                         1226.0
3                                         1580.8
4                                         1370.7
5                                         1343.5
6                                         1171.7
7                                         1276.1
8                                         1161.5
9                                         1180.8
10                                         990.6
11                                         952.2
12                                         920.3
13                                         693.2
14                                         750.9
15                                         939.5
16                                         926.8
17                                         802.1
18                                          89.2
19                                        1308.3
20                                        1563.4
21                                        1516.6
22                                        1448.5
23                                        1581.6
24                                        1397.8
25                                        1467.8
26                                        1331.1
27                                        1655.9
28                                        1498.5
29                                        1425.7
30                                        1458.4
31                                        1409.1

                Other Services - Others      Ownership Of Dwellings  \
0                                1679.6                      5972.2
1                                1635.7                      5923.6
2                                1652.2                      5908.8
3                                1650.7                      5770.4
4                                1630.8                      5736.4
5                                1574.3                      5632.0
6                                1576.5                      5633.5
7                                1566.7                      5505.4
8                                1503.6                      5551.0
9                                1431.7                      5525.0
10                               1435.3                      5516.7
11                               1412.1                      5413.9
12                               1354.8                      5507.1
13                               1318.4                      5494.7
14                               1312.5                      5503.9
15                               1379.0                      5403.8
16                               1306.0                      5434.8
17                               1291.6                      5455.0
18                               1137.2                      5479.8
19                               1540.0                      5508.2
20                               1590.3                      5473.1
21                               1612.4                      5423.6
22                               1610.9                      5382.8
23                               1590.5                      5346.2
24                               1544.1                      5257.9
25                               1516.6                      5210.6
26                               1499.7                      5165.2
27                               1484.3                      5103.6
28                               1483.6                      5032.6
29                               1476.3                      4962.8
30                               1466.9                      4917.0
31                               1454.7                      4877.0

        Gross Value Added At Basic Prices      Add: Taxes On Products

Extrapolate to monthly data

In [7]:
# Convert 'Date' column to datetime
df_macro['Date'] = pd.to_datetime(df_macro['Date'])

# Extrapolate to monthly data
monthly_data = []
for _, row in df_macro.iterrows():
    start_date = row['Date']
    row_data = row.to_dict()  # Convert the row to a dictionary
    for i in range(3):  # Repeat for 3 months
        month_date = start_date + pd.DateOffset(months=i)
        new_row = row_data.copy()  # Copy the row data
        new_row['Date'] = month_date  # Update the date for the new row
        monthly_data.append(new_row)

# Create a new DataFrame with monthly data
monthly_df = pd.DataFrame(monthly_data)

# Sort the DataFrame by date
monthly_df = monthly_df.sort_values(by='Date').reset_index(drop=True)

# Display the resulting DataFrame
print(monthly_df)

         Date  Total Unemployment Rate, (SA)  \
0  2017-01-01                            2.3
1  2017-02-01                            2.3
2  2017-03-01                            2.3
3  2017-04-01                            2.2
4  2017-05-01                            2.2
..        ...                            ...
91 2024-08-01                            1.9
92 2024-09-01                            1.9
93 2024-10-01                            1.9
94 2024-11-01                            1.9
95 2024-12-01                            1.9

    Resident Unemployment Rate, (SA)  Citizen Unemployment Rate, (SA)  \
0                                3.3                              3.5
1                                3.3                              3.5
2                                3.3                              3.5
3                                3.1                              3.3
4                                3.1                              3.3
..                               ...                              ...
91                               2.6                              2.7
92                               2.6                              2.7
93                               2.8                              2.9
94                               2.8                              2.9
95                               2.8                              2.9

    Household Net Worth      Assets          Financial Assets  \
0             1658881.3   1985339.9                 1115664.4
1             1658881.3   1985339.9                 1115664.4
2             1658881.3   1985339.9                 1115664.4
3             1682447.3   2012412.8                 1136981.6
4             1682447.3   2012412.8                 1136981.6
..                  ...         ...                       ...
91            2976551.1   3350578.6                 1881260.9
92            2976551.1   3350578.6                 1881260.9
93            3052040.2   3431440.9                 1925062.2
94            3052040.2   3431440.9                 1925062.2
95            3052040.2   3431440.9                 1925062.2

                Currency & Deposits              Shares & Securities  \
0                          407974.7                         193691.9
1                          407974.7                         193691.9
2                          407974.7                         193691.9
3                          411532.2                         198161.5
4                          411532.2                         198161.5
..                              ...                              ...
91                         633074.6                         349577.9
92                         633074.6                         349577.9
93                         658160.6                         351132.6
94                         658160.6                         351132.6
95                         658160.6                         351132.6

                    Listed Shares  ...  \
0                         90378.8  ...
1                         90378.8  ...
2                         90378.8  ...
3                         90317.8  ...
4                         90317.8  ...
..                            ...  ...
91                       152810.5  ...
92                       152810.5  ...
93                       150016.0  ...
94                       150016.0  ...
95                       150016.0  ...

                Administrative & Support Services  \
0                                          5748.5
1                                          5748.5
2                                          5748.5
3                                          6198.9
4                                          6198.9
..                                            ...
91                                         4250.7
92                                         4250.7
93                                         4034.1
94                                         4034.1
95                                         4034.1

            Other Services Industries  \
0                             11993.5
1                             11993.5
2                             11993.5
3                             11933.4
4                             11933.4
..                                ...
91                            13528.5
92                            13528.5
93                            13709.9
94                            13709.9
95                            13709.9

                Public Administration & Defence              Education  \
0                                        2821.2                 3432.0
1                                        2821.2                 3432.0
2                                        2821.2                 3432.0
3                                        2781.1                 3367.3
4                                        2781.1                 3367.3
..                                          ...                    ...
91                                       3111.0                 3752.0
92                                       3111.0                 3752.0
93                                       3130.8                 3688.5
94                                       3130.8                 3688.5
95                                       3130.8                 3688.5

                Health & Social Services  \
0                                 2876.7
1                                 2876.7
2                                 2876.7
3                                 2860.3
4                                 2860.3
..                                   ...
91                                3782.5
92                                3782.5
93                                3766.2
94                                3766.2
95                                3766.2

                Arts, Entertainment & Recreation  \
0                                         1409.1
1                                         1409.1
2                                         1409.1
3                                         1458.4
4                                         1458.4
..                                           ...
91                                        1231.8
92                                        1231.8
93                                        1430.0
94                                        1430.0
95                                        1430.0

                Other Services - Others      Ownership Of Dwellings  \
0                                1454.7                      4877.0
1                                1454.7                      4877.0
2                                1454.7                      4877.0
3                                1466.9                      4917.0
4                                1466.9                      4917.0
..                                  ...                         ...
91                               1635.7                      5923.6
92                               1635.7                      5923.6
93                               1679.6                      5972.2
94                               1679.6                      5972.2
95                               1679.6                      5972.2

        Gross Value Added At Basic Prices      Add: Taxes On Products
0                                103781.7                      7265.6
1                                103781.7                      7265.6
2                                103781.7                      7265.6
3                                106220.3                      6993.4
4                                106220.3                      6993.4
..                                    ...                         ...
91                               134988.6                      7138.3
92                               134988.6                      7138.3
93                               138399.2                      7736.9
94                               138399.2                      7736.9
95                               138399.2                      7736.9

[96 rows x 56 columns]

Using Mahalanobis distance to identify outliers (same as above)

In [8]:
df_numeric = monthly_df.drop(columns=['Date'])  # Drop the 'Date' column for analysis
# Compute the mean and covariance matrix
mean_vec = np.mean(df_numeric, axis=0)
cov_matrix = np.cov(df_numeric, rowvar=False)

# Compute the pseudo-inverse of the covariance matrix
inv_cov_matrix = np.linalg.pinv(cov_matrix)

# Compute Mahalanobis distance for each data point
df_numeric['mahalanobis_dist'] = df_numeric.apply(lambda x: mahalanobis(x, mean_vec, inv_cov_matrix), axis=1)


# View top outliers
df_numeric.sort_values(by='mahalanobis_dist', ascending=False).head(70)

,"Total Unemployment Rate, (SA)","Resident Unemployment Rate, (SA)","Citizen Unemployment Rate, (SA)",Household Net Worth,Assets,Financial Assets,Currency & Deposits,Shares & Securities,Listed Shares,Unlisted Shares,...,Other Services Industries,Public Administration & Defence,Education,Health & Social Services,"Arts, Entertainment & Recreation",Other Services - Others,Ownership Of Dwellings,Gross Value Added At Basic Prices,Add: Taxes On Products,mahalanobis_dist
14,2.1,2.9,3.0,1775409.9,2118140.1,1200736.5,427806.6,210837.2,95659.3,31674.2,...,12357.9,2860.5,3454.6,2904.6,1655.9,1484.3,5103.6,108882.0,7268.3,5.53869
12,2.1,2.9,3.0,1775409.9,2118140.1,1200736.5,427806.6,210837.2,95659.3,31674.2,...,12357.9,2860.5,3454.6,2904.6,1655.9,1484.3,5103.6,108882.0,7268.3,5.53869
13,2.1,2.9,3.0,1775409.9,2118140.1,1200736.5,427806.6,210837.2,95659.3,31674.2,...,12357.9,2860.5,3454.6,2904.6,1655.9,1484.3,5103.6,108882.0,7268.3,5.53869
60,2.3,3.0,3.2,2454819.4,2813474.3,1629850.0,562648.0,272949.4,104050.6,34176.8,...,12473.8,3244.3,3529.3,3283.8,952.2,1412.1,5413.9,123458.3,6425.7,5.53869
61,2.3,3.0,3.2,2454819.4,2813474.3,1629850.0,562648.0,272949.4,104050.6,34176.8,...,12473.8,3244.3,3529.3,3283.8,952.2,1412.1,5413.9,123458.3,6425.7,5.53869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,2.7,3.6,3.8,2308910.2,2652921.4,1559956.4,528895.6,265522.0,98413.3,31608.8,...,11781.0,3065.7,3379.6,3219.4,750.9,1312.5,5503.9,118445.3,6559.3,5.53869
46,3.2,4.3,4.4,2176938.1,2509941.9,1483708.1,517148.8,237750.0,90237.7,27736.9,...,11885.4,3044.8,3404.7,3158.3,926.8,1306.0,5434.8,114269.7,7705.0,5.53869
47,3.2,4.3,4.4,2176938.1,2509941.9,1483708.1,517148.8,237750.0,90237.7,27736.9,...,11885.4,3044.8,3404.7,3158.3,926.8,1306.0,5434.8,114269.7,7705.0,5.53869
45,3.2,4.3,4.4,2176938.1,2509941.9,1483708.1,517148.8,237750.0,90237.7,27736.9,...,11885.4,3044.8,3404.7,3158.3,926.8,1306.0,5434.8,114269.7,7705.0,5.53869
22,2.2,3.0,3.1,1825181.2,2169731.7,1222766.2,440065.0,189931.9,85561.7,31460.5,...,12153.8,2808.8,3415.1,2991.0,1397.8,1544.1,5257.9,113290.8,7180.6,5.53869

(same steps as above for df_cleaned)

In [9]:
# Find the index of the top outlier
top_outlier_idx = df_numeric['mahalanobis_dist'].idxmax()

# Remove the outlier from the dataset
df_cleaned_macro = df_macro.drop(index=top_outlier_idx)

# Verify the removal
print(f"Removed row at index: {top_outlier_idx}")
print(df_cleaned.shape)  # Check the new shape

# Load your dataset 
df_numeric_cleaned = df_cleaned_macro.drop(columns=['Date'])  # Drop 'Date' column for numeric analysis

# Compute the mean and covariance matrix
mean_vec = np.mean(df_numeric_cleaned, axis=0)
cov_matrix = np.cov(df_numeric_cleaned, rowvar=False)

# Compute the pseudo-inverse of the covariance matrix
inv_cov_matrix = np.linalg.pinv(cov_matrix)

# Compute Mahalanobis distance for each data point
df_numeric_cleaned['mahalanobis_dist'] = df_numeric_cleaned.apply(lambda x: mahalanobis(x, mean_vec, inv_cov_matrix), axis=1, result_type='expand')

# View top outliers
df_numeric_cleaned.sort_values(by='mahalanobis_dist', ascending=False).head(70)

Removed row at index: 12
(201580, 8)

,"Total Unemployment Rate, (SA)","Resident Unemployment Rate, (SA)","Citizen Unemployment Rate, (SA)",Household Net Worth,Assets,Financial Assets,Currency & Deposits,Shares & Securities,Listed Shares,Unlisted Shares,...,Other Services Industries,Public Administration & Defence,Education,Health & Social Services,"Arts, Entertainment & Recreation",Other Services - Others,Ownership Of Dwellings,Gross Value Added At Basic Prices,Add: Taxes On Products,mahalanobis_dist
22,2.3,3.2,3.3,1913684.3,2253573.0,1296945.9,461905.5,208221.7,90674.7,31675.2,...,12370.6,2842.3,3437.6,3037.3,1448.5,1610.9,5382.8,112867.0,7283.5,5.388159
23,2.2,3.1,3.3,1870684.1,2213274.8,1264247.0,455015.2,197449.6,89190.7,31406.3,...,12589.1,2971.2,3433.5,3015.8,1581.6,1590.5,5346.2,110476.6,7527.1,5.388159
11,2.3,3.0,3.2,2454819.4,2813474.3,1629850.0,562648.0,272949.4,104050.6,34176.8,...,12473.8,3244.3,3529.3,3283.8,952.2,1412.1,5413.9,123458.3,6425.7,5.388159
21,2.2,3.1,3.2,1945769.1,2284216.3,1312298.6,466414.1,204066.0,87630.8,30844.1,...,12519.9,2794.1,3480.3,3128.9,1516.6,1612.4,5423.6,113293.9,7161.2,5.388159
7,1.8,2.6,2.7,2656059.7,3014560.0,1692158.1,589556.9,280796.7,118418.4,34130.1,...,13226.8,3284.2,3655.4,3405.2,1276.1,1566.7,5505.4,124661.2,6466.2,5.388159
4,2.0,2.7,2.9,2814508.3,3178795.1,1785432.6,611413.5,317090.2,134122.7,35118.4,...,13294.8,3096.3,3632.9,3546.8,1370.7,1630.8,5736.4,131754.9,7411.3,5.388159
6,1.9,2.7,2.9,2700112.9,3059937.5,1722043.4,606246.1,281825.5,118074.8,34227.3,...,12913.9,3092.0,3491.0,3560.0,1171.7,1576.5,5633.5,126370.6,6415.3,5.388159
24,2.2,3.0,3.1,1825181.2,2169731.7,1222766.2,440065.0,189931.9,85561.7,31460.5,...,12153.8,2808.8,3415.1,2991.0,1397.8,1544.1,5257.9,113290.8,7180.6,5.388159
9,2.1,2.9,3.0,2532728.2,2896129.7,1635380.0,569251.0,265943.8,101263.1,34040.2,...,12748.2,3099.6,3562.3,3446.2,1180.8,1431.7,5525.0,125453.4,6417.3,5.388159
1,1.9,2.6,2.7,2976551.1,3350578.6,1881260.9,633074.6,349577.9,152810.5,37024.7,...,13528.5,3111.0,3752.0,3782.5,1231.8,1635.7,5923.6,134988.6,7138.3,5.388159
27,2.1,2.9,3.0,1775409.9,2118140.1,1200736.5,427806.6,210837.2,95659.3,31674.2,...,12357.9,2860.5,3454.6,2904.6,1655.9,1484.3,5103.6,108882.0,7268.3,5.388159
30,2.2,3.1,3.3,1682447.3,2012412.8,1136981.6,411532.2,198161.5,90317.8,31486.6,...,11933.4,2781.1,3367.3,2860.3,1458.4,1466.9,4917.0,106220.3,6993.4,5.388159
13,2.6,3.4,3.6,2348497.1,2700535.6,1583322.5,535065.8,269480.7,97078.1,33039.6,...,11859.5,3010.9,3484.7,3297.7,693.2,1318.4,5494.7,119604.8,6567.2,5.388159
19,2.5,3.4,3.6,1987492.1,2320300.3,1341716.9,493950.9,184301.9,73530.5,26698.8,...,12303.9,3101.7,3403.5,2929.7,1308.3,1540.0,5508.2,112374.2,7001.8,5.388159
16,3.2,4.3,4.4,2176938.1,2509941.9,1483708.1,517148.8,237750.0,90237.7,27736.9,...,11885.4,3044.8,3404.7,3158.3,926.8,1306.0,5434.8,114269.7,7705.0,5.388159
10,2.1,2.8,3.0,2487094.1,2848876.0,1624198.9,566634.7,262912.2,99108.9,33708.5,...,12373.8,3067.0,3430.4,3416.2,990.6,1435.3,5516.7,124714.1,6431.2,5.388159
18,3.0,4.1,4.2,2059331.3,2386825.4,1405335.7,506564.5,208221.3,82003.2,27363.4,...,10135.2,2918.6,3181.8,2712.9,89.2,1137.2,5479.8,101574.4,3763.7,5.388159
17,3.4,4.6,4.7,2104813.9,2434122.4,1433481.2,508124.2,219142.6,81567.8,27377.9,...,11434.1,2921.2,3313.0,3059.6,802.1,1291.6,5455.0,108913.3,6404.1,5.388159
14,2.7,3.6,3.8,2308910.2,2652921.4,1559956.4,528895.6,265522.0,98413.3,31608.8,...,11781.0,3065.7,3379.6,3219.4,750.9,1312.5,5503.9,118445.3,6559.3,5.388159
8,2.0,2.7,2.9,2578617.6,2939020.1,1661258.2,571190.3,280064.6,113815.6,34136.2,...,12790.8,3088.9,3572.8,3437.0,1161.5,1503.6,5551.0,128001.2,6934.2,5.388159
15,2.9,4.0,4.2,2251063.1,2588875.0,1516944.5,524713.7,250921.0,96306.3,30878.1,...,12255.5,3226.2,3458.8,3202.2,939.5,1379.0,5403.8,117419.8,7142.8,5.388159
20,2.2,3.2,3.2,1998097.3,2337418.2,1355997.9,475911.7,220509.4,90485.5,31089.8,...,12587.4,2904.7,3440.8,3096.1,1563.4,1590.3,5473.1,114659.3,7784.4,5.388159
26,2.1,2.9,3.0,1810882.9,2154544.8,1212424.2,433096.3,205547.4,89991.2,31603.3,...,12062.5,2823.6,3464.0,2942.1,1331.1,1499.7,5165.2,111130.0,7408.9,5.388159
29,2.1,3.1,3.2,1705223.2,2039745.1,1152762.6,413473.9,200770.9,90556.5,31670.1,...,11934.0,2683.5,3419.0,2933.2,1425.7,1476.3,4962.8,108968.9,7084.7,5.388159
28,2.1,2.9,3.0,1734730.7,2075155.0,1180615.0,419107.5,208123.3,95053.8,31746.1,...,11973.1,2759.6,3359.7,2872.6,1498.5,1483.6,5032.6,110698.8,7990.1,5.388159
25,2.1,2.8,3.0,1823899.1,2168119.5,1219584.3,433988.1,199496.8,89962.5,31582.4,...,12168.7,2710.4,3480.1,3000.9,1467.8,1516.6,5210.6,112545.7,7069.3,5.388159
5,2.0,2.9,3.0,2728779.0,3090032.2,1738383.5,607162.2,297024.2,123828.0,34924.5,...,13257.5,3087.9,3655.3,3579.0,1343.5,1574.3,5632.0,127721.6,6674.0,5.388159
31,2.3,3.3,3.5,1658881.3,1985339.9,1115664.4,407974.7,193691.9,90378.8,31303.2,...,11993.5,2821.2,3432.0,2876.7,1409.1,1454.7,4877.0,103781.7,7265.6,5.388159
3,2.1,2.9,3.1,2872703.3,3237721.6,1810903.7,623478.0,315652.4,137094.5,35142.0,...,13787.8,3296.6,3708.5,3524.7,1580.8,1650.7,5770.4,128816.3,6588.0,5.388159
0,1.9,2.8,2.9,3052040.2,3431440.9,1925062.2,658160.6,351132.6,150016.0,37328.3,...,13709.9,3130.8,3688.5,3766.2,1430.0,1679.6,5972.2,138399.2,7736.9,5.388159
2,2.0,2.7,2.8,2919647.9,3288024.2,1832632.8,629367.5,325669.0,145785.6,35973.4,...,13273.4,3094.5,3562.3,3718.9,1226.0,1652.2,5908.8,130579.4,6809.8,5.388159

## Join both datasets

In [10]:
# Convert both columns to datetime
df_cleaned['month'] = pd.to_datetime(df_cleaned['month'], format='%Y-%m')  # Convert '2017-01' to datetime
df_cleaned_macro['Date'] = pd.to_datetime(df_cleaned_macro['Date'], format='%Y-%m-%d')  # Convert '2017-01-01' to datetime

# Standardize the format (truncate df2['date'] to year-month)
df_cleaned_macro['Date'] = df_cleaned_macro['Date'].dt.to_period('M').dt.to_timestamp()  # Convert to '2017-01'

# Merge the DataFrames
merged_df = pd.merge(df_cleaned, df_cleaned_macro, left_on='month', right_on='Date', how='inner')

# Convert the 'Date' column (or any datetime column) back to string format
merged_df['month'] = merged_df['month'].dt.strftime('%Y-%m')  # Specify the desired format, e.g., 'YYYY-MM-DD'

# Display the merged DataFrame
print(merged_df)

         month        town storey_range  floor_area_sqm  flat_type  \
0      2017-01  ANG MO KIO     10 TO 12            44.0     2 ROOM
1      2017-01  ANG MO KIO     01 TO 03            67.0     3 ROOM
2      2017-01  ANG MO KIO     01 TO 03            67.0     3 ROOM
3      2017-01  ANG MO KIO     04 TO 06            68.0     3 ROOM
4      2017-01  ANG MO KIO     01 TO 03            67.0     3 ROOM
...        ...         ...          ...             ...        ...
64568  2024-10      YISHUN     01 TO 03           145.0  EXECUTIVE
64569  2024-10      YISHUN     01 TO 03           146.0  EXECUTIVE
64570  2024-10      YISHUN     10 TO 12           152.0  EXECUTIVE
64571  2024-10      YISHUN     01 TO 03           169.0  EXECUTIVE
64572  2024-10      YISHUN     10 TO 12           142.0  EXECUTIVE

           flat_model     remaining_lease  resale_price       Date  \
0            Improved  61 years 04 months      232000.0 2017-01-01
1      New Generation  60 years 07 months      250000.0 2017-01-01
2      New Generation  62 years 05 months      262000.0 2017-01-01
3      New Generation   62 years 01 month      265000.0 2017-01-01
4      New Generation  62 years 05 months      265000.0 2017-01-01
...               ...                 ...           ...        ...
64568      Maisonette  62 years 09 months      888888.0 2024-10-01
64569      Maisonette  62 years 10 months      848000.0 2024-10-01
64570      Maisonette  59 years 11 months      867000.0 2024-10-01
64571       Apartment  66 years 09 months      860000.0 2024-10-01
64572       Apartment  62 years 02 months      980000.0 2024-10-01

       Total Unemployment Rate, (SA)  ...  \
0                                2.3  ...
1                                2.3  ...
2                                2.3  ...
3                                2.3  ...
4                                2.3  ...
...                              ...  ...
64568                            1.9  ...
64569                            1.9  ...
64570                            1.9  ...
64571                            1.9  ...
64572                            1.9  ...

                   Administrative & Support Services  \
0                                             5748.5
1                                             5748.5
2                                             5748.5
3                                             5748.5
4                                             5748.5
...                                              ...
64568                                         4034.1
64569                                         4034.1
64570                                         4034.1
64571                                         4034.1
64572                                         4034.1

               Other Services Industries  \
0                                11993.5
1                                11993.5
2                                11993.5
3                                11993.5
4                                11993.5
...                                  ...
64568                            13709.9
64569                            13709.9
64570                            13709.9
64571                            13709.9
64572                            13709.9

                   Public Administration & Defence              Education  \
0                                           2821.2                 3432.0
1                                           2821.2                 3432.0
2                                           2821.2                 3432.0
3                                           2821.2                 3432.0
4                                           2821.2                 3432.0
...                                            ...                    ...
64568                                       3130.8                 3688.5
64569                                       3130.8                 3688.5
64570                                       3130.8                 3688.5
64571                                       3130.8                 3688.5
64572                                       3130.8                 3688.5

                   Health & Social Services  \
0                                    2876.7
1                                    2876.7
2                                    2876.7
3                                    2876.7
4                                    2876.7
...                                     ...
64568                                3766.2
64569                                3766.2
64570                                3766.2
64571                                3766.2
64572                                3766.2

                   Arts, Entertainment & Recreation  \
0                                            1409.1
1                                            1409.1
2                                            1409.1
3                                            1409.1
4                                            1409.1
...                                             ...
64568                                        1430.0
64569                                        1430.0
64570                                        1430.0
64571                                        1430.0
64572                                        1430.0

                   Other Services - Others      Ownership Of Dwellings  \
0                                   1454.7                      4877.0
1                                   1454.7                      4877.0
2                                   1454.7                      4877.0
3                                   1454.7                      4877.0
4                                   1454.7                      4877.0
...                                    ...                         ...
64568                               1679.6                      5972.2
64569                               1679.6                      5972.2
64570                               1679.6                      5972.2
64571                               1679.6                      5972.2
64572                               1679.6                      5972.2

           Gross Value Added At Basic Prices      Add: Taxes On Products
0                                   103781.7                      7265.6
1                                   103781.7                      7265.6
2                                   103781.7                      7265.6
3                                   103781.7                      7265.6
4                                   103781.7                      7265.6
...                                      ...                         ...
64568                               138399.2                      7736.9
64569                               138399.2                      7736.9
64570                               138399.2                      7736.9
64571                               138399.2                      7736.9
64572                               138399.2                      7736.9

[64573 rows x 64 columns]

## 2.4: Transforming Datatypes

In [11]:
df = merged_df.copy()  
df.dtypes

month                                            object
town                                             object
storey_range                                     object
floor_area_sqm                                  float64
flat_type                                        object
                                                 ...
            Arts, Entertainment & Recreation    float64
            Other Services - Others             float64
    Ownership Of Dwellings                      float64
    Gross Value Added At Basic Prices           float64
    Add: Taxes On Products                      float64
Length: 64, dtype: object

### 2.4.1: Changing month to months from Jan 2017

In [12]:
# changing month to months from jan 2017
df[['y', 'm_from2017']]=df['month'].str.split(pat="-", expand = True)
df['y'] = pd.to_numeric(df['y']).sub(2017).mul(12)
df['m_from2017'] = pd.to_numeric(df['m_from2017'])
df['m_from2017'] = df['m_from2017'].add(df['y'])
# can delete col y now

### 2.4.2: Changing remaining lease to no. of months left in lease

In [13]:
# changing remaining lease to no of months left
def convert_to_months(lease_str):
    years = 0
    months = 0
    
    # Extract years and months using regex
    year_match = re.search(r'(\d+) years?', lease_str)
    month_match = re.search(r'(\d+) months?', lease_str)

    if year_match:
        years = int(year_match.group(1))
    if month_match:
        months = int(month_match.group(1))

    return (years * 12) + months

# Apply the function to transform the column
df['lease_months_left'] = df['remaining_lease'].apply(convert_to_months)
# remove remaining_lease

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64573 entries, 0 to 64572
Data columns (total 67 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   month                                                                             64573 non-null  object
 1   town                                                                              64573 non-null  object
 2   storey_range                                                                      64573 non-null  object
 3   floor_area_sqm                                                                    64573 non-null  float64
 4   flat_type                                                                         64573 non-null  object
 5   flat_model                                                                        64573 non-null  object
 6   remaining_lease                                                                   64573 non-null  object
 7   resale_price                                                                      64573 non-null  float64
 8   Date                                                                              64573 non-null  datetime64[ns]
 9   Total Unemployment Rate, (SA)                                                     64573 non-null  float64
 10  Resident Unemployment Rate, (SA)                                                  64573 non-null  float64
 11  Citizen Unemployment Rate, (SA)                                                   64573 non-null  float64
 12  Household Net Worth                                                               64573 non-null  float64
 13      Assets                                                                        64573 non-null  float64
 14          Financial Assets                                                          64573 non-null  float64
 15              Currency & Deposits                                                   64573 non-null  float64
 16              Shares & Securities                                                   64573 non-null  float64
 17                  Listed Shares                                                     64573 non-null  float64
 18                  Unlisted Shares                                                   64573 non-null  float64
 19                  Unit Trusts & Investment Funds                                    64573 non-null  float64
 20              Life Insurance                                                        64573 non-null  float64
 21              Central Provident Fund (CPF)                                          64573 non-null  float64
 22              Pension Funds                                                         64573 non-null  float64
 23          Residential Property Assets                                               64573 non-null  float64
 24              Public Housing                                                        64573 non-null  float64
 25              Private Housing                                                       64573 non-null  float64
 26      Liabilities                                                                   64573 non-null  float64
 27          Mortgage Loans                                                            64573 non-null  float64
 28              Financial Institutions                                                64573 non-null  float64
 29              Housing & Development Board (HDB)                                     64573 non-null  float64
 30          Personal Loans                                                            64573 non-null  float64
 31              Motor Vehicle                                                         64573 non-null  float64
 32              Credit/Charge Cards                                                   64573 non-null  float64
 33              Others                                                                64573 non-null  float64
 34  0.1                                                                               64573 non-null  int64
 35  GDP In Chained (2015) Dollars                                                     64573 non-null  float64
 36      Goods Producing Industries                                                    64573 non-null  float64
 37          Manufacturing                                                             64573 non-null  float64
 38          Construction                                                              64573 non-null  float64
 39          Utilities                                                                 64573 non-null  float64
 40          Other Goods Industries                                                    64573 non-null  float64
 41      Services Producing Industries                                                 64573 non-null  float64
 42          Wholesale & Retail Trade                                                  64573 non-null  float64
 43              Wholesale Trade                                                       64573 non-null  float64
 44              Retail Trade                                                          64573 non-null  float64
 45          Transportation & Storage                                                  64573 non-null  float64
 46          Accommodation & Food Services                                             64573 non-null  float64
 47              Accommodation                                                         64573 non-null  float64
 48              Food & Beverage Services                                              64573 non-null  float64
 49          Information & Communications                                              64573 non-null  float64
 50          Finance & Insurance                                                       64573 non-null  float64
 51          Real Estate, Professional Services And Administrative & Support Services  64573 non-null  float64
 52              Real Estate                                                           64573 non-null  float64
 53              Professional Services                                                 64573 non-null  float64
 54              Administrative & Support Services                                     64573 non-null  float64
 55          Other Services Industries                                                 64573 non-null  float64
 56              Public Administration & Defence                                       64573 non-null  float64
 57              Education                                                             64573 non-null  float64
 58              Health & Social Services                                              64573 non-null  float64
 59              Arts, Entertainment & Recreation                                      64573 non-null  float64
 60              Other Services - Others                                               64573 non-null  float64
 61      Ownership Of Dwellings                                                        64573 non-null  float64
 62      Gross Value Added At Basic Prices                                             64573 non-null  float64
 63      Add: Taxes On Products                                                        64573 non-null  float64
 64  y                                                                                 64573 non-null  int64
 65  m_from2017                                                                        64573 non-null  int64
 66  lease_months_left                                                                 64573 non-null  int64
dtypes: datetime64[ns](1), float64(56), int64(4), object(6)
memory usage: 33.0+ MB

### 2.4.3: Encoding towns using one hot encoding

In [15]:
# encoding the towns - one hot encoding

# Standardize column names
df.rename(columns=lambda x: x.strip().lower(), inplace=True)

# Ensure 'town' column is a string and clean spaces
df['town'] = df['town'].astype(str).str.strip()

# One-hot encode
df_encoded = pd.get_dummies(df, columns=['town'], dtype = int)

# Ensure only specified towns are kept
towns = [
    "JURONG WEST", "SENGKANG", "WOODLANDS", "PUNGGOL", "TAMPINES", "YISHUN", "BEDOK", "HOUGANG",
    "ANG MO KIO", "BUKIT MERAH", "CHOA CHU KANG", "TOA PAYOH", "BUKIT BATOK", "BUKIT PANJANG",
    "KALLANG/WHAMPOA", "PASIR RIS", "GEYLANG", "QUEENSTOWN", "SEMBAWANG", "JURONG EAST",
    "BISHAN", "CLEMENTI", "SERANGOON", "CENTRAL AREA", "MARINE PARADE", "BUKIT TIMAH"
]

town_columns = [f'town_{town}' for town in towns if f'town_{town}' in df_encoded.columns]
df_encoded = df_encoded[['town'] + town_columns] if 'town' in df_encoded.columns else df_encoded[town_columns]

df = pd.concat([df, df_encoded], axis = 1)
df.head()

,month,town,storey_range,floor_area_sqm,flat_type,flat_model,remaining_lease,resale_price,date,"total unemployment rate, (sa)",...,town_GEYLANG,town_QUEENSTOWN,town_SEMBAWANG,town_JURONG EAST,town_BISHAN,town_CLEMENTI,town_SERANGOON,town_CENTRAL AREA,town_MARINE PARADE,town_BUKIT TIMAH
0,2017-01,ANG MO KIO,10 TO 12,44.0,2 ROOM,Improved,61 years 04 months,232000.0,2017-01-01,2.3,...,0,0,0,0,0,0,0,0,0,0
1,2017-01,ANG MO KIO,01 TO 03,67.0,3 ROOM,New Generation,60 years 07 months,250000.0,2017-01-01,2.3,...,0,0,0,0,0,0,0,0,0,0
2,2017-01,ANG MO KIO,01 TO 03,67.0,3 ROOM,New Generation,62 years 05 months,262000.0,2017-01-01,2.3,...,0,0,0,0,0,0,0,0,0,0
3,2017-01,ANG MO KIO,04 TO 06,68.0,3 ROOM,New Generation,62 years 01 month,265000.0,2017-01-01,2.3,...,0,0,0,0,0,0,0,0,0,0
4,2017-01,ANG MO KIO,01 TO 03,67.0,3 ROOM,New Generation,62 years 05 months,265000.0,2017-01-01,2.3,...,0,0,0,0,0,0,0,0,0,0

### 2.4.4: Encoding flat model using one hot encoding

In [16]:
# encoding the flat_model - one hot encoding
#### still need to edit this chunk to adapt it

# Standardize column names
df.rename(columns=lambda x: x.strip().lower(), inplace=True)

# Ensure 'town' column is a string and clean spaces
df['flat_model'] = df['flat_model'].astype(str).str.strip()

# One-hot encode
df_encoded = pd.get_dummies(df, columns=['flat_model'], dtype = int)

# Ensure only specified towns are kept
models = [
    "Model A", "Improved", "New Generation", "Premium Apartment", "Simplified", "Apartment", "Maisonette", "Standard",
    "DBSS", "Model A2", "Model A-Maisonette", "Adjoined flat", "Type S1", "2-room",
    "Type S2", "Premium Apartment Loft", "Terrace", "Multi Generation", "3Gen", "Improved-Maisonette",
    "Premium Maisonette"
]

model_columns = [f'flat_model_{model}' for model in models if f'flat_model_{model}' in df_encoded.columns]
df_encoded = df_encoded[['flat_model'] + model_columns] if 'flat_model' in df_encoded.columns else df_encoded[model_columns]

df = pd.concat([df, df_encoded], axis = 1)
df.tail()

,month,town,storey_range,floor_area_sqm,flat_type,flat_model,remaining_lease,resale_price,date,"total unemployment rate, (sa)",...,flat_model_Adjoined flat,flat_model_Type S1,flat_model_2-room,flat_model_Type S2,flat_model_Premium Apartment Loft,flat_model_Terrace,flat_model_Multi Generation,flat_model_3Gen,flat_model_Improved-Maisonette,flat_model_Premium Maisonette
64568,2024-10,YISHUN,01 TO 03,145.0,EXECUTIVE,Maisonette,62 years 09 months,888888.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64569,2024-10,YISHUN,01 TO 03,146.0,EXECUTIVE,Maisonette,62 years 10 months,848000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64570,2024-10,YISHUN,10 TO 12,152.0,EXECUTIVE,Maisonette,59 years 11 months,867000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64571,2024-10,YISHUN,01 TO 03,169.0,EXECUTIVE,Apartment,66 years 09 months,860000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64572,2024-10,YISHUN,10 TO 12,142.0,EXECUTIVE,Apartment,62 years 02 months,980000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0

### 2.4.5: Encoding Flat Type using label encoding

In [17]:
# encoding the flat type - label encoding
flat_type_mapping = {
    '1 ROOM': 0,
    '2 ROOM': 1,
    '3 ROOM': 2,
    '4 ROOM': 3,
    '5 ROOM': 4,
    'EXECUTIVE': 5,
    'MULTI-GENERATION': 6
}

# Apply the mapping to the flat_type column
df['flat_type'] = df['flat_type'].map(flat_type_mapping)
df.tail()

,month,town,storey_range,floor_area_sqm,flat_type,flat_model,remaining_lease,resale_price,date,"total unemployment rate, (sa)",...,flat_model_Adjoined flat,flat_model_Type S1,flat_model_2-room,flat_model_Type S2,flat_model_Premium Apartment Loft,flat_model_Terrace,flat_model_Multi Generation,flat_model_3Gen,flat_model_Improved-Maisonette,flat_model_Premium Maisonette
64568,2024-10,YISHUN,01 TO 03,145.0,5,Maisonette,62 years 09 months,888888.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64569,2024-10,YISHUN,01 TO 03,146.0,5,Maisonette,62 years 10 months,848000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64570,2024-10,YISHUN,10 TO 12,152.0,5,Maisonette,59 years 11 months,867000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64571,2024-10,YISHUN,01 TO 03,169.0,5,Apartment,66 years 09 months,860000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64572,2024-10,YISHUN,10 TO 12,142.0,5,Apartment,62 years 02 months,980000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0

### 2.4.6: Encoding Storey Range using Label encoding

In [18]:
# encoding the storey_range - label encoding
storey_range_mapping = {
    '01 TO 03': 0, '04 TO 06': 1, '07 TO 09': 2, '10 TO 12': 3, '13 TO 15': 4,
    '16 TO 18': 5, '19 TO 21': 6, '22 TO 24': 7, '25 TO 27': 8, '28 TO 30': 9,
    '31 TO 33': 10, '34 TO 36': 11, '37 TO 39': 12, '40 TO 42': 13, '43 TO 45': 14,
    '46 TO 48': 15, '49 TO 51': 16
}

# Apply the mapping to the storey_range column
df['storey_range'] = df['storey_range'].map(storey_range_mapping)
df.tail()

,month,town,storey_range,floor_area_sqm,flat_type,flat_model,remaining_lease,resale_price,date,"total unemployment rate, (sa)",...,flat_model_Adjoined flat,flat_model_Type S1,flat_model_2-room,flat_model_Type S2,flat_model_Premium Apartment Loft,flat_model_Terrace,flat_model_Multi Generation,flat_model_3Gen,flat_model_Improved-Maisonette,flat_model_Premium Maisonette
64568,2024-10,YISHUN,0,145.0,5,Maisonette,62 years 09 months,888888.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64569,2024-10,YISHUN,0,146.0,5,Maisonette,62 years 10 months,848000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64570,2024-10,YISHUN,3,152.0,5,Maisonette,59 years 11 months,867000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64571,2024-10,YISHUN,0,169.0,5,Apartment,66 years 09 months,860000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0
64572,2024-10,YISHUN,3,142.0,5,Apartment,62 years 02 months,980000.0,2024-10-01,1.9,...,0,0,0,0,0,0,0,0,0,0

### 2.4.7: Encoding macro_data

In [19]:
# Separate categorical and numerical columns
categorical_cols = df.select_dtypes(include=['object']).columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns

# 1. One-Hot Encoding for Categorical Features
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# 2. Standardization for Numerical Features
scaler = StandardScaler()
df_encoded[numerical_cols] = scaler.fit_transform(df_encoded[numerical_cols])

# 3. (Optional) Normalization for Numerical Features
scaler = MinMaxScaler()
df_encoded[numerical_cols] = scaler.fit_transform(df_encoded[numerical_cols])

# Display the encoded DataFrame
print(df_encoded.head())

   storey_range  floor_area_sqm  flat_type  resale_price       date  \
0        0.1875        0.061321   0.166667      0.057792 2017-01-01
1        0.0000        0.169811   0.333333      0.070478 2017-01-01
2        0.0000        0.169811   0.333333      0.078935 2017-01-01
3        0.0625        0.174528   0.333333      0.081049 2017-01-01
4        0.0000        0.169811   0.333333      0.081049 2017-01-01

   total unemployment rate, (sa)  resident unemployment rate, (sa)  \
0                         0.3125                              0.35
1                         0.3125                              0.35
2                         0.3125                              0.35
3                         0.3125                              0.35
4                         0.3125                              0.35

   citizen unemployment rate, (sa)  household net worth  assets  ...  \
0                              0.4                  0.0     0.0  ...
1                              0.4                  0.0     0.0  ...
2                              0.4                  0.0     0.0  ...
3                              0.4                  0.0     0.0  ...
4                              0.4                  0.0     0.0  ...

   remaining_lease_96 years 04 months  remaining_lease_96 years 05 months  \
0                               False                               False
1                               False                               False
2                               False                               False
3                               False                               False
4                               False                               False

   remaining_lease_96 years 06 months  remaining_lease_96 years 07 months  \
0                               False                               False
1                               False                               False
2                               False                               False
3                               False                               False
4                               False                               False

   remaining_lease_96 years 08 months  remaining_lease_96 years 11 months  \
0                               False                               False
1                               False                               False
2                               False                               False
3                               False                               False
4                               False                               False

   remaining_lease_97 years 01 month  remaining_lease_97 years 04 months  \
0                              False                               False
1                              False                               False
2                              False                               False
3                              False                               False
4                              False                               False

   remaining_lease_97 years 05 months  remaining_lease_97 years 07 months
0                               False                               False
1                               False                               False
2                               False                               False
3                               False                               False
4                               False                               False

[5 rows x 850 columns]

### 2.4.8: Normalising the floor area column

In [20]:
# scaler = MinMaxScaler()
# df[['floor_area_sqm']] = scaler.fit_transform(df[['floor_area_sqm']])

# # Normalising the values within the lease_months_left column

### 2.4.9: Removing redundant columns used for transformation

In [21]:
#remove redundant/encoded cols
df.drop(columns=['remaining_lease', 'y', 'town','flat_model', 'month'], inplace=True)

In [22]:
df.dtypes

storey_range                               int64
floor_area_sqm                           float64
flat_type                                  int64
resale_price                             float64
date                              datetime64[ns]
                                       ...
flat_model_Terrace                         int64
flat_model_Multi Generation                int64
flat_model_3Gen                            int64
flat_model_Improved-Maisonette             int64
flat_model_Premium Maisonette              int64
Length: 109, dtype: object

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64573 entries, 0 to 64572
Columns: 109 entries, storey_range to flat_model_Premium Maisonette
dtypes: datetime64[ns](1), float64(56), int64(52)
memory usage: 53.7 MB

In [28]:
df.to_csv('data/data_macro.csv', index = False)

## 2.5: Exporting transformed data with test train split to new csv

In [24]:
from sklearn.model_selection import train_test_split

# Split the data into training (80%), validation (10%), and test (10%)
train_df, temp_df = train_test_split(df, test_size=0.2, random_state=42)
valid_df, test_df = train_test_split(temp_df, test_size=0.5, random_state=42)

# Optionally, you can print the shapes of the resulting datasets
print("Training set shape:", train_df.shape)
print("Validation set shape:", valid_df.shape)
print("Test set shape:", test_df.shape)

Training set shape: (51658, 109)
Validation set shape: (6457, 109)
Test set shape: (6458, 109)

In [25]:
# normalise the splitted data
cols_to_norm = ['storey_range', 'floor_area_sqm', 'flat_type', 'm_from2017', 'lease_months_left']

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit the scaler only on the training data
scaler.fit(train_df[cols_to_norm])

# Apply the transformation (without refitting) to all splits
train_df[cols_to_norm] = scaler.transform(train_df[cols_to_norm])
test_df[cols_to_norm] = scaler.transform(test_df[cols_to_norm])
valid_df[cols_to_norm] = scaler.transform(valid_df[cols_to_norm])
display(train_df)

,storey_range,floor_area_sqm,flat_type,resale_price,date,"total unemployment rate, (sa)","resident unemployment rate, (sa)","citizen unemployment rate, (sa)",household net worth,assets,...,flat_model_Adjoined flat,flat_model_Type S1,flat_model_2-room,flat_model_Type S2,flat_model_Premium Apartment Loft,flat_model_Terrace,flat_model_Multi Generation,flat_model_3Gen,flat_model_Improved-Maisonette,flat_model_Premium Maisonette
9621,0.0000,0.287736,0.500000,375000.0,2018-07-01,2.1,2.8,3.0,1823899.1,2168119.5,...,0,0,0,0,0,0,0,0,0,0
2132,0.1250,0.160377,0.333333,340000.0,2017-04-01,2.2,3.1,3.3,1682447.3,2012412.8,...,0,0,0,0,0,0,0,0,0,0
20740,0.0625,0.287736,0.500000,443888.0,2019-10-01,2.2,3.2,3.2,1998097.3,2337418.2,...,0,0,0,0,0,0,0,0,0,0
61717,0.1250,0.066038,0.166667,365000.0,2024-07-01,1.9,2.6,2.7,2976551.1,3350578.6,...,0,0,0,0,0,0,0,0,0,0
25908,0.2500,0.457547,0.833333,565000.0,2020-07-01,3.4,4.6,4.7,2104813.9,2434122.4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62570,0.0625,0.287736,0.500000,482000.0,2024-10-01,1.9,2.8,2.9,3052040.2,3431440.9,...,0,0,0,0,0,0,0,0,0,0
38158,0.1875,0.396226,0.666667,500000.0,2022-01-01,2.3,3.0,3.2,2454819.4,2813474.3,...,0,0,0,0,0,0,0,0,0,0
860,0.1250,0.278302,0.500000,530000.0,2017-01-01,2.3,3.3,3.5,1658881.3,1985339.9,...,0,0,0,0,0,0,0,0,0,0
15795,0.1250,0.349057,0.500000,420000.0,2019-04-01,2.3,3.2,3.3,1913684.3,2253573.0,...,0,0,0,0,0,0,0,0,0,0
56422,0.1250,0.377358,0.500000,720000.0,2024-01-01,2.1,2.9,3.1,2872703.3,3237721.6,...,0,0,0,0,0,0,0,0,0,0

In [26]:
# generate the new csv files to use for the model
train_df.to_csv('data/train_data_macro.csv', index = False)
valid_df.to_csv('data/valid_data_macro.csv', index = False)
test_df.to_csv('data/test_data_macro.csv', index = False)